/* ■■■■■ REGISTER / LOGIN ■■■■■■■■■■■■ */

.register, .login {
    --brr: .25em;
    padding: 4em 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        position: relative;

        width: min(400px, 100%);
        padding: 2em;

        border-radius: var(--brr);
        box-shadow: 0 .5em 1em var(--clr-light-grey),
                    0 0 4em var(--clr-light-grey);
        background-color: #fff;

        @media (max-width: 550px) {
            padding: 1.5em;
        }

        > *:not(:first-child, :last-child) {
            margin-block-end: 2em;
        }

        &::before, &::after {
            content: "";
            position: absolute;
            aspect-ratio: 1;
            pointer-events: none;
        }
        &::before {
            bottom: 100%;
            left: 100%;
            transform: translate(-50%, 50%);
            width: 5em;
            background: url("/resources/img/icons/auth/seagulls-icon.svg") no-repeat center / contain;

            @media (max-width: 550px) {
                transform: translate(calc(-100% + 0.5em), 50%);
            }
        }
        &::after {
            top: 100%;
            right: 100%;
            transform: translate(50%, -50%) rotate(-15deg);
            width: 4em;
            background: url("/resources/img/icons/auth/anchor-icon-2.svg") no-repeat center / contain;

            @media (max-width: 550px) {
                transform: translate(calc(83% - 0.65em), -50%) rotate(-15deg);
            }
        }

        .link-back-to-main {
            position: absolute;
            bottom: calc(100% + 1em);
            left: 0;
        
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5em;
        
            font-size: var(--fs-400);
        
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: .1em;
        
                    > svg {
                        transform: translateX(-.25em);
                    }
                }
            }
        
            > svg {
                width: 2em;
                transition: transform var(--tr-dur);
                fill: var(--clr-accent);
            }
        }
    }

    &__title {
        font-size: 2em;
        font-family: var(--ff-heading);
        font-weight: 700;
        text-align: center;
        color: var(--clr-accent);
    }

    &__form {
        display: grid;
        gap: 1em;

        fieldset {
            &:focus-within {
                label {
                    transform: translateX(.5em);
                    font-weight: 500;
                }
            }
        }

        label {
            margin-block-end: .5em;

            transition: var(--tr-dur);
        }

        input {
            width: 100%;
            border: 2px solid var(--clr-light-grey);
            padding: .5em;
            border-radius: var(--brr);
            background-color: var(--clr-bg);
            // box-shadow: inset 0 0 0 100vmin var(--clr-bg);

            transition: var(--tr-dur);

            &:focus {
                border-color: var(--clr-accent);
                outline: none;
            }
        }

        button[type=submit] {
            padding: 1em;
            font-weight: 500;
            background-color: var(--clr-accent);
            color: #fff;
            border-radius: var(--brr);
            will-change: box-shadow;
            transition: box-shadow var(--tr-dur);

            @media (any-hover: hover) {
                &:hover {
                    box-shadow: 0 .5em 1em color-mix(in lab, var(--clr-accent), white);
                }
            }
        }

        .error {
            margin-block-start: .5em;
            padding: .5em;

            line-height: 1.5;
            
            border-radius: .25em;
            color: var(--clr-ground);
            background-color: color-mix(in srgb, currentColor, white 90%);
        }
    }

    &__have-account {
        font-size: var(--fs-400);
        text-align: center;
        line-height: 1.5;   

        > a {
            color: var(--clr-accent);

            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: .1em;
                }
            }
        }
    }
}
