/* ■■■■■ ECOIDEAS ■■■■■■■■■■■■■■■■■■■■ */

.ecoideas {
    h2 {
        text-align: center;
        margin-block: 1em .5em;
        font-size: 3em;
    }

    &__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    &__form-create {
        margin-inline: auto;
        max-width: 500px;
        display: grid;
        gap: 1em;

        fieldset {
            display: grid;
            gap: 0.5em;

            &:focus-within {
                > input, > textarea {
                    border-color: var(--clr-info);
                }
            }
        }

        select {
            appearance: none;
            padding: .5em 1em;
            background-color: var(--clr-light-grey);

            border-radius: 1em;
            outline: none;
        }

        input[type=text] {
            padding: 0.5em;
            border: 2px solid var(--clr-light-grey);
            border-radius: .25em;
            outline: none;
        }

        textarea {
            height: 20vh;
            padding: 1em;
            line-height: 1.5;
            border: 2px solid var(--clr-light-grey);
            border-radius: .25em;
            outline: none;
            resize: none;
        }

        button {
            justify-self: center;
            padding: 1em 2em;

            border-radius: .25em;
            background-color: var(--clr-info);
            color: #fff;
            transition: var(--tr-dur);

            @media (any-hover: hover) {
                &:hover {
                    box-shadow: 0 .5em 1em color-mix(in lab, var(--clr-info), white);
                }
            }
        }
    }

    &__need-auth {
        margin-bottom: 1em;

        text-align: center;
        line-height: 1.5;
        text-wrap: balance;
    }

    &__auth-btn {
        padding: .75em;

        text-align: center;
        line-height: 1;

        color: var(--clr-accent);
        background-color: #fff;
        font-weight: 500;

        border-radius: .25em;
        border: 2px solid var(--clr-accent);

        transition: calc(var(--tr-dur) / 2);
        
        @media (any-hover: hover) {
            &:hover {
                background-color: var(--clr-accent);
                color: var(--clr-bg);
            }
        }

        &:active {
            transform: translateY(2px);
        }
    }
}

.ecoidea {
    padding: 2em;

    display: grid;
    gap: 1em;

    line-height: 1.5;

    border-radius: 1em;
    border: 1px solid var(--clr-light-grey);
    outline: 2px solid transparent;
    outline-offset: -2px;

    transition: outline-color var(--tr-dur);

    @media (any-hover: hover) {
        &:hover {
            outline-color: var(--clr-accent);
        }
    }

    &__title {
        font-size: 1.5em;
        font-weight: 700;
    }

    &__footer {
        align-self: end;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        font-size: var(--fs-400);
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-weight: 600;
        border-radius: .25em;

        &-avatar {
            width: 2em;
            aspect-ratio: 1;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--clr-accent);
            color: #fff;
            
            border-radius: 50%;
            transition: box-shadow var(--tr-dur);
        }

        @media (any-hover: hover) {
            &:hover {
                .ecoidea__author-avatar {
                    box-shadow: 0 0 0 0.25em color-mix(in lab, var(--clr-accent), white 60%);
                }
            }
        }
    }

    &__published-at {
        font-style: italic;
    }
}
