/* ■■■■■ ECOIDEAS ■■■■■■■■■■■■■■■■■■■■ */

.ecoideas {
    h2 {
        text-align: center;
        margin-block: 1em .5em;
        font-size: 3em;
    }

    &__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    &__form-create {
        display: grid;
        gap: 1em;

        fieldset {
            display: grid;
            gap: 0.5em;

            &:focus-within {
                > input, > textarea {
                    border-color: var(--clr-accent);
                }
            }

            > label {
                font-weight: 500;
            }
        }

        select {
            appearance: none;
            padding: .5em 1em;
            background-color: var(--clr-light-grey);

            border-radius: 1em;
            outline: none;
        }

        input[type=text] {
            padding: 1em;
            border: 2px solid var(--clr-light-grey);
            border-radius: .25em;
            outline: none;
        }

        textarea {
            height: 30vh;
            padding: 1em;
            line-height: 1.5;
            border: 2px solid var(--clr-light-grey);
            border-radius: .25em;
            outline: none;
            resize: none;

            @supports (scrollbar-width: thin) {
                scrollbar-width: thin;
                scrollbar-color: var(--clr-accent) transparent;
            }
        }

        button {
            justify-self: center;
            padding: 1em 2em;

            border-radius: .25em;
            background-color: var(--clr-accent);
            color: #fff;
            font-weight: 500;
            transition: var(--tr-dur);

            @media (any-hover: hover) {
                &:hover {
                    box-shadow: 0 .5em 1em color-mix(in lab, var(--clr-accent), white);
                }
            }
        }
    }

    &__need-auth {
        margin-block-end: 3em;
        text-align: center;
        line-height: 1.5;
        text-wrap: balance;
    }

    &__auth-btn {
        padding: .75em;

        text-align: center;
        line-height: 1;

        color: var(--clr-accent);
        background-color: #fff;
        font-weight: 500;

        border-radius: .25em;
        border: 2px solid var(--clr-accent);

        transition: calc(var(--tr-dur) / 2);
        
        @media (any-hover: hover) {
            &:hover {
                background-color: var(--clr-accent);
                color: var(--clr-bg);
            }
        }

        &:active {
            transform: translateY(2px);
        }
    }
}

.ecoidea {
    padding: 2em;

    display: grid;
    grid-auto-rows: auto 1fr auto;
    align-content: start;
    gap: 1em;

    line-height: 1.5;

    border-radius: 1em;
    border: 1px solid var(--clr-light-grey);
    outline: 2px solid transparent;
    outline-offset: -2px;

    transition: outline-color var(--tr-dur);

    @media (any-hover: hover) {
        &:hover {
            outline-color: var(--clr-accent);

            .ecoidea__title {
                color: var(--clr-accent);
            }
        }
    }

    &__title {
        font-size: 1.5em;
        font-weight: 700;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        transition: color var(--tr-dur);

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__content {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__footer {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 1em;

        font-size: var(--fs-400);
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-weight: 500;
        border-radius: .25em;

        &-avatar {
            width: 2em;
            aspect-ratio: 1;
            overflow: hidden;

            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: 400;
            background-color: var(--clr-accent);
            color: #fff;
            
            border-radius: 50%;
            transition: box-shadow calc(var(--tr-dur) / 2);

            &:has(> img) {
                background-color: color-mix(in srgb, var(--clr-accent), transparent 90%);
            }

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                .ecoidea__author-avatar {
                    box-shadow: 0 0 0 0.25em color-mix(in lab, var(--clr-accent), white 60%);
                }
            }
        }
    }

    &__published-at {
        font-style: italic;
    }
}
