/* ■■■■■ ЭКОКАРТА ■■■■■■■■■■■■■■■■■■■■ */

.ecomap {
    &__intro {
        margin-block: 3em;
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: 0.5em;
    }

    &__description {
        max-width: 55ch;
        line-height: 1.6;
    }
    
    &__illustration {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        height: 100%;

        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;

        @media (max-width: 1000px) {
            height: 75%;
            top: 50%;
            transform: translateY(-50%);
        }
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__map {
        //display: grid;
        //grid-template-columns: 420px 1fr;
        gap: 1.5em;
    }
}

.filter-layers {
    display: grid;
    align-content: start;
    gap: 1.5em;
    margin-block-end: 1.5em;

    &__header {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    &__title {
        font-size: var(--fs-700);
        font-weight: 500;
    }

    &__clear-button {
        --pd: .25em;
        --icon-size: 1em;

        width: fit-content;
        padding: var(--pd) var(--pd) var(--pd) calc(var(--pd) * 2 + var(--icon-size));
        
        font-size: var(--fs-400);
        
        color: var(--clr-grey);
        outline: 2px solid var(--clr-light-grey);
        border-radius: .25em;
        transition: outline-color 200ms;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: var(--pd);
            transform: translateY(-50%);
            width: var(--icon-size);
            aspect-ratio: 1;
            pointer-events: none;
            background: url("/resources/img/icons/ecomap/filter-layers/clear-filter-btn-icon.svg") no-repeat center / contain;
        }

        @media (any-hover: hover) {
            &:hover {
                outline-color: currentColor;
            }
        }

        &:has(span:empty) {
            display: none;
        }
    }

    &__checkbox-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    &__custom-checkbox {
        --pd: .75em;
        --tr: 100ms;

        font-size: var(--fs-300);
        width: 7.25em;
        padding: var(--pd);

        border: 2px solid hsl(0 0% 95%);
        border-radius: 1em;
        transition: border-color var(--tr);

        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;

        &--batteries {
            --custom-color: var(--clr-batteries);
        }
        &--lightbulbs {
            --custom-color: var(--clr-lightbulbs);
        }
        &--paper {
            --custom-color: var(--clr-paper);
        }
        &--plastic {
            --custom-color: var(--clr-plastic);
        }
        &--glass {
            --custom-color: var(--clr-glass);
        }
        &--metal {
            --custom-color: var(--clr-metal);
        }
        &--technic {
            --custom-color: var(--clr-technic);
        }
        &--clothes {
            --custom-color: var(--clr-clothes);
        }

        @media (any-hover: hover) {
            &:hover {
                border-color: hsl(0 0% 90%);

                > .filter-icon {
                    background-color: hsl(0 0% 90%);
                }
            }
        }

        &:has(input[type=checkbox]:checked) {
            border-color: var(--custom-color);
            
            > .filter-icon {
                fill: white;
                background-color: var(--custom-color);
            }

            > span {
                font-weight: 600;
                color: var(--custom-color);
            }
        }

        > .filter-icon {
            height: 4.5em;
            aspect-ratio: 1;

            margin-inline: auto;
            margin-block-end: var(--pd);
            padding: var(--pd);

            fill: currentColor;
            background-color: hsl(0 0% 95%);

            border-radius: 1em;
            transition: background-color var(--tr), fill var(--tr);
        }

        > span {
            display: block;
            text-align: center;
            transition: font-weight var(--tr);

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__location-btn {
        width: fit-content;
        padding: 0.75em 1em;
    
        font-weight: 500;
        border-radius: .25em;
    
        background-color: dodgerblue;
        color: #fff;
        transition: opacity 200ms;
    
        @media (any-hover: hover) {
            &:hover {
                opacity: .8;
            }
        }
    }
}

.map__row {
    // width: 75%;
    // margin-inline: auto;
    // height: calc(100dvh - var(--nav-height));
    height: 65vh;
    display: grid;
    grid-template-columns: 420px 1fr;

    > .info-about-point-block {
        padding: 1em;
        font-size: var(--fs-400);
        border-top: 2px solid hsl(0 0% 95%);
        overflow-y: auto;

        > .point-info {
            line-height: 1.6;

            > p {
                &:not(:last-child) {
                    margin-block-end: .5em;
                }
                &:first-child {
                    font-size: var(--fs-700);
                    font-weight: 500;
                }
                > span {
                    font-weight: 700;
                }
            }
        }
    }
}

#map {
    position: relative;
    height: 100%;
    font-family: var(--ff-body, sans-serif) !important;
    outline-offset: 0 !important;

    @media (max-width: 600px) {
        aspect-ratio: 1;
    }

    .leaflet-marker-icon {
        background-color: transparent !important;

        @media (any-hover: hover) {
            &:hover {
                filter: brightness(1.25);
            }
        }
    }

    // .leaflet-control-layers {
    //     .leaflet-control-layers-overlays {
    //         > label {
    //             > span {
    //                 display: flex;
    //                 gap: 0.5em;
    //                 -webkit-user-select: none;
    //                 user-select: none;
    //             }
    //         }
    //     }
    // }

    .custom-map-watermark {
        position: absolute;
        z-index: 1000;
        bottom: 10px;
        left: 10px;

        padding: .35em .5em;

        font-family: var(--ff-logo);
        font-size: var(--fs-300);
        font-weight: 600;
        text-align: center;

        border-radius: .3em;
        color: var(--clr-text);
        background-color: hsl(0 0% 100% / .8);

        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;

        @media (max-width: 600px) {
            font-size: var(--fs-300);
        }
    }
}