/* ■■■■■ PROFILE ■■■■■■■■■■■■■■■■■■■■■ */

.profile {
    &__info {
        display: grid;
        gap: 1em;

        > .info {
            line-height: 1.5;
        }
    }

    &__avatar {
        max-width: 100px;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
        background-color: color-mix(in srgb, var(--clr-action), transparent 90%);

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__group {
        &:not(:last-of-type) {
            margin-block-end: 2em;
        }

        h2 {
            font-size: 1.5em;
            margin-block-end: .5em;
            text-transform: uppercase;
        }
    
        form {
            display: grid;
            justify-items: start;
            gap: 1em;
    
            textarea {
                width: 50%;
                height: 20vh;

                padding: 1em;

                line-height: 1.5;
                border: 2px solid var(--clr-light-grey);
                border-radius: .25em;
                outline: none;
                resize: none;
                
                @supports (scrollbar-width: thin) {
                    scrollbar-width: thin;
                    scrollbar-color: var(--clr-accent) transparent;
                }

                &:focus {
                    border-color: var(--clr-accent);
                }
            }
    
            button {
                font-size: var(--fs-400);
                padding: .5em;
                border-radius: .25em;
                font-weight: 500;
                color: #fff;
                background-color: var(--clr-accent);
                will-change: box-shadow;
                transition: box-shadow var(--tr-dur);

                &.delete-account {
                    background-color: hsl(0 60% 60%);
                }
        
                &:active {
                    transform: translateY(1px);
                }
            }
        }
    }
}
