/* ■■■■■ PROFILE ■■■■■■■■■■■■■■■■■■■■■ */

.profile {
    &__intro {
        margin-block: 3em;
    }

    &__title {
        &--public {
            text-align: center;
        }

        &-username {
            color: var(--clr-info);
            text-underline-offset: .15em;

            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;

        @media (max-width: 575px) {
            grid-template-columns: 1fr;
        }
    }

    &__group {
        padding: 2em;
        border: 1px solid var(--clr-light-grey);
        border-radius: 1em;

        @media (max-width: 575px) {
            padding: 1em;
        }

        &--public {
            margin-inline: auto;
            width: min(600px, 100%);
        }

        .avatar {
            margin-bottom: 1em;
            max-width: 200px;
            aspect-ratio: 1;
            border-radius: 50%;
            overflow: hidden;
            background-color: color-mix(in srgb, var(--clr-accent), transparent 90%);
    
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.avatar--public {
                margin-inline: auto;
            }
        }

        .info {
            display: grid;
            gap: .5em;
            line-height: 1.5;
        }

        h2 {
            font-size: 1.5em;
            margin-block-end: 1em;
            color: var(--clr-info);

            @media (max-width: 575px) {
                text-align: center;
            }
        }
    
        form {
            display: grid;
            justify-items: start;
            gap: .5em;

            input[type=file] {
                width: 100%;
                padding: 1em;
    
                border: 1px solid var(--clr-light-grey);
                border-radius: .25em;
            }
    
            textarea {
                width: 100%;
                height: 20vh;

                padding: 1em;

                line-height: 1.5;
                border: 1px solid var(--clr-light-grey);
                border-radius: .25em;
                outline: none;
                resize: none;
                
                @supports (scrollbar-width: thin) {
                    scrollbar-width: thin;
                    scrollbar-color: var(--clr-info) transparent;
                }

                &:focus {
                    outline: 2px solid var(--clr-info);
                    outline-offset: -2px;
                }
            }
        }

        button {
            font-size: var(--fs-400);
            padding: .5em 1em;

            color: var(--clr-info);

            border-radius: .25em;
            border: 1px solid;
            transition: calc(var(--tr-dur) / 2);

            &.add-bio-btn {
                display: none;

                &.show {
                    display: block;
                }
            }

            &.delete {
                color: var(--clr-delete);
            }

            @media (any-hover: hover) {
                &:hover {
                    color: #fff;

                    &:not(.delete) {
                        background-color: var(--clr-info);
                        border-color: var(--clr-info);
                    }

                    &.delete {
                        background-color: var(--clr-delete);
                        border-color: var(--clr-delete);
                    }
                }
            }
    
            &:active {
                transform: translateY(2px);
            }
        }

        .user-ecostatus-name {
            text-align: center;
            width: fit-content;
            padding: .75em 1em;
            padding-left: 2.5em;
            border-radius: 100vmin;
            font-weight: 500;
            color: #fff;
            background-color: var(--clr-accent);
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 1em;
                width: 1em;
                aspect-ratio: 1;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                pointer-events: none;
            }
            
            &--1 {
                padding-left: 1em;
            }
            &--2, &--3 {
                &::before {
                    background-image: url('/resources/img/icons/ecostatus-star-level-2-3.svg');
                }
            }
            &--4 {
                &::before {
                    background-image: url('/resources/img/icons/ecostatus-star-level-4.svg');
                }
            }
            &--5 {
                &::before {
                    background-image: url('/resources/img/icons/ecostatus-star-level-5.svg');
                }
            }
        }
    }
}
