// ■■■■■ CORE ■■■■■■■■■■■■■■■■■■■■■■■■
@import "./core/all";
// ■■■■■ ABSTRACTS ■■■■■■■■■■■■■■■■■■■
@import "./abstracts/all";
// ■■■■■ LAYOUT ■■■■■■■■■■■■■■■■■■■■■■
@import "./layout/all";
// ■■■■■ BLOCKS ■■■■■■■■■■■■■■■■■■■■■■
@import "./blocks/all";
// ■■■■■ PAGES ■■■■■■■■■■■■■■■■■■■■■■■
@import "./pages/all";

/* ■■■■■ СТИЛИ САЙТА ■■■■■■■■■■■■■■■■■ */

<<<<<<< HEAD
=======
// sass --watch resources/scss/index.scss resources/css/index.css

>>>>>>> 4936f0ffebc584b2bb464390a8fffa220084732c
.page-wrapper {
    padding-block-start: var(--nav-height);
}

html {
    @supports (scrollbar-width: auto) {
        scrollbar-width: auto; // auto*, thin, none
        scrollbar-color: var(--clr-accent) transparent; // thumb track
    }
}