// ■■■■■ CORE ■■■■■■■■■■■■■■■■■■■■■■■■
@import "./core/all";
// ■■■■■ ABSTRACTS ■■■■■■■■■■■■■■■■■■■
@import "./abstracts/all";
// ■■■■■ LAYOUT ■■■■■■■■■■■■■■■■■■■■■■
@import "./layout/all";
// ■■■■■ BLOCKS ■■■■■■■■■■■■■■■■■■■■■■
@import "./blocks/all";
// ■■■■■ PAGES ■■■■■■■■■■■■■■■■■■■■■■■
@import "./pages/all";

/* ■■■■■ СТИЛИ САЙТА ■■■■■■■■■■■■■■■■■ */

.page__wrapper {
    padding-block-start: var(--nav-height, 1em);
}

html {
    @supports (scrollbar-width: auto) {
        scrollbar-width: auto;
        scrollbar-color: var(--clr-accent) transparent;
    }
}

ul.test {
    line-height: 1.4;
    font-family: var(--ff-mono);

    li {
        list-style-position: inside;
        list-style-type: disc;

        &::marker {
            color: var(--clr-accent);
        }
    }
}

.mb-1 {
    margin-block: 1em;
}