// ■■■■■ CORE ■■■■■■■■■■■■■■■■■■■■■■■■
@import "./core/all";
// ■■■■■ ABSTRACTS ■■■■■■■■■■■■■■■■■■■
@import "./abstracts/all";
// ■■■■■ LAYOUT ■■■■■■■■■■■■■■■■■■■■■■
@import "./layout/all";
// ■■■■■ BLOCKS ■■■■■■■■■■■■■■■■■■■■■■
@import "./blocks/all";
// ■■■■■ PAGES ■■■■■■■■■■■■■■■■■■■■■■■
@import "./pages/all";

/* ■■■■■ СТИЛИ САЙТА ■■■■■■■■■■■■■■■■■ */

//tests

.block {
    margin-block: 1em;
    padding: 1em;
    font-weight: 500;
    background-color: color-mix(in srgb, currentColor, white 90%);
    border-radius: .25em;

    &--error {
        color: var(--clr-error);
    }
    &--success {
        color: var(--clr-success);
    }
    &--info {
        color: var(--clr-info);
    }
    &--empty {
        color: var(--clr-empty);
    }
}

ul.list {
    line-height: 1.5;
    font-family: var(--ff-mono);
    font-size: var(--fs-400);

    li {
        list-style-position: outside;
        list-style-type: disc;
        white-space: pre;

        &:first-child {
            font-weight: 700;
            background-color: var(--clr-info);
            color: #fff;
            list-style-type: none;
        }

        &::marker {
            color: var(--clr-action);
        }
    }
}

.mbs-1 {
    margin-block-start: 1em;
}
.mbs-2 {
    margin-block-start: 2em;
}

.wfc {
    width: fit-content;
}

.ttu {
    text-transform: uppercase;
}