/* ■■■■■ БАЗОВЫЕ СТИЛИ ■■■■■■■■■■■■■■■ */
html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;

    @supports (scrollbar-width: auto) {
        scrollbar-width: auto;
        scrollbar-color: var(--clr-accent) transparent;
    }

    &:has(.register, .login) {
        scrollbar-gutter: stable;
    }
}

body {
    font-family: var(--ff-body, sans-serif);
    font-size: var(--fs-500, 1rem);
    font-weight: 400;
    line-height: 1;
    color: var(--clr-text);
    background-color: var(--clr-bg, #fff);

    @supports (-webkit-tap-highlight-color: transparent) {
        -webkit-tap-highlight-color: transparent;
    }
}

.page__wrapper {
    min-height: 100%;
    overflow: clip;
    background-color: var(--clr-bg, #fff);

    padding-block-start: var(--nav-height, 1em);

    position: relative;
    z-index: 1;

    &:not(.register, .login) {
        display: flex;
        flex-direction: column;
    }

    > .container {
        flex-grow: 1;
    }
}

// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.accent-color {
    color: var(--clr-accent);
}
.ground-color {
    color: var(--clr-ground);
}
.error-color {
    color: var(--clr-error);
}
.success-color {
    color: var(--clr-success);
}
.info-color {
    color: var(--clr-info);
}
.empty-color {
    color: var(--clr-empty);
}

h1, h2 {
    font-weight: 700;
    font-family: var(--ff-heading);
    line-height: 1.25;
    text-wrap: balance;
}
h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin-block: 3rem;
}
