/* ■■■■■ ПЕРЕМЕННЫЕ ■■■■■■■■■■■■■■■■■■ */
:root {
    --ff-body: "Rubik", sans-serif;
    --ff-heading: "PT Sans", sans-serif;
    --ff-logo: var(--ff-heading);
    --ff-system: system-ui;
    --ff-mono: "Consolas", monospace;

    --container-lg-width: 1200px; //1300px

    --tr-dur: 200ms;

    --clr-bg: #ffffff;
    --clr-text: hsl(0 0% 30%);
    --clr-grey: hsl(0 0% 50%);
    --clr-light-grey: hsl(0 0% 90%);
    --clr-accent: #1ec31d; // color-mix(in lab, forestgreen, lime)
    --clr-ground: sienna;
    --clr-error: #ff575a; //color-mix(in srgb, orangered, hotpink)
    --clr-success: limegreen;
    --clr-info: dodgerblue;
    --clr-empty: grey;

    --clr-batteries: #663399;
    --clr-lightbulbs: #ff943d;
    --clr-paper: #6f7278;
    --clr-plastic: #1e90ff;
    --clr-glass: #588f27;
    --clr-metal: #00305a;
    --clr-technic: #796138;
    --clr-clothes: #ff1d23;

    --fs-100: calc(var(--fs-400) * 0.625);  //10px
    --fs-200: calc(var(--fs-400) * 0.75);   //12px
    --fs-300: calc(var(--fs-400) * 0.875);  //14px
    --fs-400: 1rem;                         //16px
    --fs-500: calc(var(--fs-400) * 1.125);  //18px
    --fs-600: calc(var(--fs-400) * 1.25);   //20px
    --fs-700: calc(var(--fs-400) * 1.5);    //24px
    --fs-800: calc(var(--fs-400) * 3);      //48px
    --fs-850: calc(var(--fs-400) * 3.375);  //54px
    --fs-900: calc(var(--fs-400) * 4);      //64px
    --fs-1000: calc(var(--fs-400) * 5);     //80px

    // @media (max-width: 767px) {
    //     --fs-400: .9rem;
    // }
    // @media (max-width: 575px) {
    //     --fs-400: .8rem;
    // }
    // @media (max-width: 479px) {
    //     --fs-400: .7rem;
    // }
}