/* ■■■■■ ФУТЕР ■■■■■■■■■■■■■■■■■■■■■■■ */
.footer {
    margin-top: auto;

    &__wave {
        margin-top: -11vw;
        position: relative;
        top: 4vw;
        fill: var(--clr-accent);
        pointer-events: none;
    }
    
    &__footer {
        position: relative;
        background-color: var(--clr-accent);
    }

    &__row {
        padding-block: 1em 2em;
        display: flex;
        align-items: center;
        gap: 1em;
        flex-wrap: wrap;

        line-height: 1.5;
        color: white;

        > div {
            &:last-child {
                margin-left: auto
            }
        }
    }
}
