/* ■■■■■ НАВИГАЦИЯ ■■■■■■■■■■■■■■■■■■■ */
.nav {
    width: 100%;
    padding: 1.25em 0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    
    @supports (-webkit-backdrop-filter: blur(5px)) { // для Safari
        -webkit-backdrop-filter: blur(5px);
    }
    backdrop-filter: blur(5px);
    background-color: hsl(0 0% 100% / 70%);
    box-shadow: 0 0 1em hsl(0 0% 30% / .1);

    font-size: 1.125rem;
    line-height: 1;
    text-align: center;
    color: var(--clr-text);

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
    }

    &__item {
        &--logo {
            margin-right: auto;
        }
        &--account {
            display: flex;
            align-items: center;
            gap: 1em;
            margin-left: auto;
            position: relative;
        }
    }

    &__link {
        display: block;
        padding: .5em;
        border-radius: .25em;

        color: inherit;
        position: relative;

        &--logo {
            padding: 0;

            font-size: 1.75em;
            font-family: var(--ff-logo, sans-serif);
            font-weight: 700;
        }

        &:not(&--logo) {
            &::after {
                content: "";

                position: absolute;
                top: 70%;
                left: 50%;

                width: .5em;
                aspect-ratio: 1;

                pointer-events: none;
                background-color: var(--clr-accent);
                border-radius: 50%;
                opacity: 1;
                transform: translateX(-50%) scale(0);

                transition: 200ms;
            }
        }

        @media (any-hover: hover) {
            &:not(&--logo):hover {  

                &::after {
                    top: calc(100% - .25em);
                    opacity: 1;
                    transform: translateX(-50%) scale(1);
                }
            }
        }
    }

    &__btn {
        display: block;
        padding: .5em 1em;

        color: inherit;
        border-radius: .25em;

        transition: outline-color var(--tr-dur);
        outline: 2px solid var(--clr-light-grey);
        
        &--login, &--register {
            @media (any-hover: hover) {
                &:hover {
                    outline-color: var(--clr-accent);
                }
            }
        }

        &--profile-name {
            padding-inline: .5em;
            font-family: var(--ff-logo);
            font-weight: 700;
            outline-color: var(--clr-accent);
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
        }
        
        &--logout {
            @media (any-hover: hover) {
                &:hover {
                    outline-color: grey;
                }
            }
        }
    }

    &__account-menu {
        display: grid;
        gap: 1em;
        padding: 1em;
        position: absolute;
        top: calc(100% + .5em);
        right: 0;
        border-radius: .25em;
        border: 1px solid var(--clr-light-grey);
        background-color: #fff;

        transform: translateY(-0.5em);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;

        transition: 200ms;
        
        &--active {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }

        > .profile-link {
            @media (any-hover: hover) {
                &:hover {
                    color: var(--clr-accent);
                }
            }
        }

        > .logout-form {
            > button {
                width: 100%;
                text-align: left;
            }

            @media (any-hover: hover) {
                &:hover {
                    color: var(--clr-accent);
                }
            }
        }
    }
}